.bar-one .bar-two .bar-theree {
  width: 12px;
  height: 2px;
  background-color: #fff;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.bar-1,
.bar-2,
.bar-3 {
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: 0.4s;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.discount-offer {
  border-radius: 5px;
}
body {
  background-color: rgba(194, 189, 189, 0.39);
}
