@import "tailwindcss";

body {
  font-family: "Funnel Sans", sans-serif;
  cursor: pointer;
  /* font-family: "Inter", sans-serif; */
}

::selection {
  border-radius: 10px;
  background-color: rgba(224, 137, 7, 0.89);
  color: #fff;
}

.container-two {
  width: 1140px;
  height: 600px;
  margin: auto;
  margin-top: 2rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box {
  width: 200px;
  height: 200px;
  background: linear-gradient(90deg, #d1ce0a, #8a0ad4);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
  color: #fff;
  position: absolute;
  animation: rotate 1s linear infinite;
}

.box:hover {
  background-color: #8a0ad4;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
